<script type="text/html" id="post-preview-template">
  <article class="main-post">
    <div class="article-top">
      <h1>
        <a href="post.html" data-bind="text: post.Title"></a>
      </h1>
      <hr />
      <div class="counters-line">
        <div class="pull-left">
          <div class="user">
            <i class="icon-user"></i> <a href="profile.html" data-bind="text: post.AuthorUsername"></a>
          </div>
          <div class="comments">
            <i class="icon-comments"></i> <a href="post.html" data-bind="text: post.CommentCount"></a>
          </div>
        </div>
        <div class="pull-right">
          <div class="like">
            <a href="#"><i class="icon-like" data-bind="text: post.Likes"></i></a>
          </div>
          <div class="dislike">
            <a href="#"><i class="icon-dislike" data-bind="text: post.Dislikes"></i></a>
          </div>
        </div>
      </div>
      <div class="buttons-bar">
        <div class="buttons">
          <a href="#" class='repost has-tooltip' data-title="REPOST">Repost</a>
          <a href="#" class='bookmarked has-tooltip' data-title="BOOKMARKED">bookmarked</a>
          <div class="count">2430</div>
        </div>
        <div class="social-icons">
          <a href="javascript:void(0)" data-href="https://www.facebook.com/sharer/sharer.php?u=http://teothemes.com/html/Aruna" class='facebook has-tooltip' data-title="Share on Facebook">facebook</a>
          <a href="javascript:void(0)" data-href="https://twitter.com/intent/tweet?source=tweetbutton&amp;text=Check the best image/meme sharing website!&url=http://teothemes.com/html/Aruna" class='twitter has-tooltip' data-title="Share on Twitter">twitter</a>
          <a href="javascript:void(0)" data-href="https://plus.google.com/share?url=http://teothemes.com/html/Aruna" class='googleplus has-tooltip' data-title="Share on Google +">googleplus</a>
          <a href="mailto:?subject=Check out the best image/meme sharing template!&amp;body=Hey there! Check out the best image/meme sharing template! http://teothemes.com/html/Aruna" class='mail has-tooltip' data-title="Share via Email">mail</a>
        </div>
      </div>
    </div>
    <div class="article-content">
      <figure>
        <div class="corner-tag green">
          <a href="category.html">Gingerfun</a>
        </div>
        <img class="lazy" data-bind="attr: { src: post.ContentPath }" alt="" />
      </figure>
    </div>
  </article>
</script>